@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    background: hsl(30, 38%, 92%);
    margin: 0px;
}
.section{
    display:flex;
    place-items:center;
    justify-content: center;
    margin: 60px auto;
}
#chanel{
    background-image: url('images/image-product-desktop.jpg');
    background-size: cover;
    width: 302px;
    height: 452px;
    border-radius: 10px 0px 0px 10px;
}
.descripcion_perfume{
    background: white;
    border-radius: 0px 10px 10px 0px;
    width: 302px;
    height: 452px;
}
#categoria_perfume{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 20px 0px 0px 12px;
}
#nombre_perfume{
    font-family: 'Fraunces', serif;
    margin:15px 49px 0px 12px;
}
#text_perfume{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 15px 49px 0px 12px;
}
.precios{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 15px 60px 0px 0px;
}
#des_perfume{
    color:  hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}
#pre_perfume{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#text_pagar{
    cursor: pointer;
    background: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border-color: hsl(158, 36%, 37%);
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    padding: 15px 60px 15px 60px;
    margin: 27px 10px 10px 36px;
}
button[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}